*{
    margin: 0;padding: 0;
}
.header h1{
    margin-left: 20px;
    display: inline-block;
    font-style: italic;
    color: white;
    padding: 5px 5px;
}
.ul1{
    display: inline-block;
    margin-left: 70px;
}
.ul1 ul li{
    display: inline-block;
    color: white;
    padding: 20px 20px;
    list-style: none;
}
.ul2{
    display: inline-block;
    margin-left: 460px;
}
.ul2 ul li{
    display: inline-block;
    color: white;
    padding: 20px 20px;
    list-style: none;
}
.header{
    background-color: steelblue;
}
.para{
    background-image: url(/1600w-R52ncVrwulU.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: absolute;
    width: 100%;
}
.para h1{
    color: white;
    font-style: italic;
    margin-left: 90px;
    position: relative;
    margin-top: 150px;
}
.master{
display: flex;
fl
}